.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#1E392A 0,#3CC47C 100%) !important; /* override background image gradient w/ flat color */
}

a {
  color: white!important;
}

a:hover {
  color: #E9C893!important;
}

.navbar-default .navbar-brand {
  color: #D9B310!important;
  font-size: 3em;
  text-shadow: 1px 1px 1px gray;
}

.navbar-default .navbar-brand:hover {
  color: #D9B310;
  text-shadow: 1px 3px 3px black;
}

html {
  background-image: url('/questions.jpg');
}

h1, h2, h3, h4, h5, h6, label {
  color: white;
  text-shadow: 5px 3px 3px black;
}

button {
  box-shadow: 5px 5px 5px black;
}

input {
  box-shadow: 5px 5px 5px black!important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

button.navbar-toggle {
  box-shadow: none;
}

.home p, .home h3 {
  color: white;
  text-shadow: 5px 5px 5px black;
}

.home h1 {
  font-size: 5em;
}

.home p {
  font-size: 1.2em;
}

.dropdown-toggle[aria-expanded='true'], .dropdown-menu, .dropdown-menu a:hover {
  background-color: #3CC47C!important;
}

.pager a.button, .pager .disabled>a {
  background-color: #3CC47C;
  border-color: #3CC47C;
  box-shadow: 5px 5px 5px black;
}

.pager .disabled>a {
  color: gray!important;
}

h4 {
  text-align: center;
  text-shadow: none;
}

.nav a {
  text-align: center;
}

.custom-pager {
  margin-bottom: 1em;
}

h4.show-more {
  text-shadow: 5px 5px 5px black;
  margin-bottom: 2em;
  margin-top: 2em;
}

.list-group-item-heading, h4.show-more:hover, .created, .by, .tags {
  color: #D9B310!important;
  text-shadow: 1px 1px 1px black;
}

.quiz-item .list-group-item-heading, .quiz-item .created, .quiz-item .by, .quiz-item .tags {
  color: #3CC47C !important;
  text-shadow: 1px 1px 1px black;
}

.group-info {
  color: white;
  text-shadow: none;
}

.groups-list, .quizzes-list {
  margin-bottom: 1em;
}

.group-delete {
  margin-top: 15px;
  width: 83.59px;
}

.list-group-item {
  margin: 1em 0;
  background-color: rgba(60, 196, 124, 0.51);
  border-radius: 0.5em;
}

button.list-group-item:hover, button.list-group-item:focus {
  background-color: rgba(8, 99, 50, 0.51);
  cursor: pointer;
}

.quiz-item button.list-group-item:hover, .quiz-item button.list-group-item:focus {
  background-color: rgba(217, 130, 16, 0.27);
  cursor: pointer;
}

.quiz-item button.list-group-item, .quiz-item button.list-group-item {
  background-color: rgba(217, 177, 16, 0.27);
  cursor: pointer;
}

.add-group {
  margin-top: -49px;
  height: 83px;
}

.center-h {
  text-align: center;
}

.danger-a {
  color: red!important;
}