@font-face {
  font-family: CabinSketch-Bold;
  src: url('/CabinSketch-Bold.ttf');
}

@font-face {
  font-family: CabinSketch-Regular;
  src: url('/CabinSketch-Regular.ttf');
}

@font-face {
  font-family: FrederickatheGreat-Regular;
  src: url('/FrederickatheGreat-Regular.ttf');
}

@font-face {
  font-family: Frijole-Regular;
  src: url('/Frijole-Regular.ttf');
}


.navbar,
.navbar-default {
    background-color: transparent !important;
    border-color: transparent;
}

a {
  color: white!important;
}

a:hover {
  color: #E9C893!important;
}

.brand {
  list-style: none;
}

.brand a {
  color: #D9B310!important;
  font-size: 2em;
  font-family: Frijole-Regular !important;
  display: inline;
  text-decoration: none;
}

.brand a:hover {
  color: #D9B310;
  text-shadow: 1px 3px 3px black;
}

html {
  background-image: url('/chalkboard.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0) !important;
}

h1, h2, h3, h4, h5, h6, label {
  color: white;
  
}

button, label, .label-danger {
  font-family: CabinSketch-Bold;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

button.navbar-toggle {
  box-shadow: none;
}

.home p, .home h3, .home h2, .navbar-default a, .question-h {
  color: white;
  font-family: CabinSketch-Bold;
}

.question-h {
  display: inline;
}

.home h1 {
  font-size: 5em;
  font-family: Frijole-Regular;
}

.home p {
  font-size: 1.2em;
}

.dropdown-toggle[aria-expanded='true'], .dropdown-menu, .dropdown-menu a:hover {
  background-color: transparent!important;
}

.dropdown-menu {
  border: none;
  box-shadow: none;
}

.pager a.button, .pager .disabled>a {
  background-color: #3CC47C;
  border-color: #3CC47C;
  box-shadow: 5px 5px 5px black;
}

.pager .disabled>a {
  color: gray!important;
}

h4 {
  text-align: center;
  text-shadow: none;
}

.nav a {
  text-align: center;
}

.custom-pager {
  margin-bottom: 1em;
}

a.show-more {
  text-shadow: 5px 5px 5px black;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
  display: block;
}

.list-group-item-heading, a.show-more:hover, .created, .by, .tags {
  color: #D9B310!important;
  text-shadow: 1px 1px 1px black;
}

.quiz-item .list-group-item-heading, .quiz-item .created, .quiz-item .by, .quiz-item .tags {
  color: #3CC47C !important;
  text-shadow: 1px 1px 1px black;
}

.group-info {
  color: white;
  text-shadow: none;
}

.groups-list, .quizzes-list {
  margin-bottom: 1em;
}

.group-delete {
  margin-top: 15px;
  width: 83.59px;
}

.list-group-item {
  margin: 1em 0;
  background-color: rgba(60, 196, 124, 0.51);
  border-radius: 0.5em;
}

button.list-group-item:hover, button.list-group-item:focus {
  background-color: rgba(8, 99, 50, 0.51);
  cursor: pointer;
}

.quiz-item button.list-group-item:hover, .quiz-item button.list-group-item:focus {
  background-color: rgba(217, 130, 16, 0.27);
  cursor: pointer;
}

.quiz-item button.list-group-item, .quiz-item button.list-group-item {
  background-color: rgba(217, 177, 16, 0.27);
  cursor: pointer;
}

.create-btn {
  margin-top: -49px;
  height: 83px;
}

.center-h {
  text-align: center;
  font-family: FrederickatheGreat-Regular;
}

.danger-a {
  color: red!important;
}

button[type='submit'] {
  width: 83.59px;
}

.list-group-item-text {
  color: white;
}

.question-input {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 0.1rem solid white;
}

.remove-button {
  display: inline;
  color: red;
  margin: 0 10px;
}

.remove-button .glyphicon {
  color: red;
  font-size: 1.5em;
}

.remove-button .glyphicon:hover {
  color: lightcoral;
}

.answer-input {
  display: inline-block;
  margin-bottom: 0;
}

.remove-button.answer-remove .glyphicon {
  font-size: 1em !important;
  top: 1em;
}

.answer-text-input {
  width: 75%;
  display: inline-block;
}

.answer-weight-input {
  margin: 0 8px;
}

.weight-label {
  position: absolute;
  top: 31px;
  left: 9px;
}

.score-labels {
  margin: 5em;
}

.score-labels h1 {
  color: #D9B310!important;
  font-size: 2em;
  font-family: Frijole-Regular !important;
}
